<Files "monitor.php">
    Require all denied
    Require ip 127.0.0.1
    Require ip 15.204.176.208
    # Add other allowed IPs here (one per line)
</Files>

<FilesMatch "\.(php|log|json)$">
    Require all denied
    Require ip 127.0.0.1
    Require ip 15.204.176.208
    # Add other allowed IPs here (one per line)
</FilesMatch>
